        .fixed-size-img {
          width: 100%;
          height: 350px;
          object-fit: cover;
          border-top-left-radius: .25rem;
          border-top-right-radius: .25rem;
        }
        .slick-slide {
          padding: 0 8px;
        }
      